@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This tool is intended to allow the user to search and learn
    about suspicious bitcoin addresses, and aggregate information 
    about suspicious addresses.</p>
