@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    5000 N. Willamette Blvd.<br />
    Portland OR, 97203<br />
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>

<address>
    <strong>Support:</strong> <a href="mailto:williaan18@up.edu">williaan18@up.edu</a><br />
    <strong>Complaints:</strong> <a href="mailto:nuxoll@up.edu">nuxoll@up.edu</a>
</address>
