@{
    ViewData["Title"] = "Home Page";
}

<title>@ViewData["Title"] - Search</title>

<h3>Single Address Search</h3>

@using (Html.BeginForm("Index", "", FormMethod.Post))
{
    <input type="text" name="adrs" id="adrs" /> //search textbox
    <input type="submit" value="Search" /> //button
}    

<li>Total Balance: @ViewData["Final Balance"]</li>
<li>Total Recieved: @ViewData["Total Recieved"]</li>
<li>Total Sent: @ViewData["Total Sent"]</li>

