@{
    ViewData["Title"] = "Bitcoin Address Search";
}

<title>@ViewData["Title"] - Search</title>

<h3>Single Address Search</h3>

@using (Html.BeginForm("Index", "", FormMethod.Post))
{
    <input type="text" name="adrs" id="adrs" /> //search textbox
    <input type="submit" value="Search" /> //button
}    



@using BlockchainAnalysisTool
@{ //Print wallets: can we do this elsewhere?
    
        //var dataList = new List<List<string>>();
        var walletList = WalletID.getRelatedWallets((string)ViewData["stringAddress"]);
        foreach (WalletID wallet in walletList)
        {
            <li>=======================================================</li>
            foreach (string addressString in wallet.getAddressStrings())
            {
                <li>@addressString</li>
            }

        }
    

}



