@{
    ViewData["Title"] = "Bitcoin Address Search";
}

<title>@ViewData["Title"] - Search</title>

<h3>Single Address Search</h3>

@using (Html.BeginForm("Index", "", FormMethod.Post))
{
    <input type="text" name="adrs" id="adrs" /> //search textbox
    <input type="submit" value="Search" /> //button
                                       
}    

<a asp-controller="index"
   asp-action="Display"
   asp-route-id="@ViewBag.address">   
   View Details
</a>

<li>address 1: @ViewData["stringAddress"]</li>



@using BlockchainAnalysisTool
@{ //Print wallets: can we do this elsewhere?

    // search MASTER LIST
    WalletID printWallet;

    if (WalletID.isNewAddress((string)ViewData["stringAddress"]) == null)
    {
        // do nothing
        return;
        //printWallet = null;
    }
    else if (WalletID.isNewAddress((string)ViewData["stringAddress"]) == true)
    {
        printWallet = new WalletID((string)ViewData["stringAddress"]);
    }
    else
    {
        printWallet = WalletID.getWallet((string)ViewData["stringAddress"]);
    }
    //printWallet.update();


    foreach (WalletID wallet in printWallet.relatedWallets)
    {
        <li>=======================================================</li>
        foreach (string addressString in wallet.getAddressStrings())
        {
            <li>@addressString</li>
        }

    }


}

