@{
    ViewData["Title"] = "Bitcoin Address Search";
}

<title>@ViewData["Title"] - Search</title>

<h3>Single Address Search</h3>


 <form asp-controller="Wallets" asp-action="index" method="get">
    <p>
        <input type="text" name="adrs">
        <input type="submit" value="Search" />
    </p>
</form>


Please enter a valid bitcoin address to view info.

